<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ajoy3.steganography">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseTextorImage"
            android:label="@string/title_activity_choose_textor_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TextInImageStegnos"
            android:label="@string/title_activity_text_in_image_stegnos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Decrypt"
            android:label="@string/title_activity_decrypt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageInImageStegnos"
            android:label="@string/title_activity_image_in_image_stegnos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
